# Python Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Windows
Thumbs.db

# Mac
.DS_Store

# Logs
*.log

firebase_service_account.json
*serviceAccount*.json